absl-py
google-cloud-storage
numpy>=1.18.4
torch
tensorflow-cpu>=2.5.1
pykeops==1.5
typing==3.7.4.3
dataclasses==0.6
flax==0.3.3
gin==0.1.6
jax==0.2.13
ml_collections==0.1.0
jaxlib==0.1.65
ott-jax==0.1.7
cmake==3.18
setuptools==59.5.0
tenacity
